.box{
    display: grid ;
    grid-template-columns:  50% 25% 25%;
    grid-template-rows: 200px 200px  200px;
    background-color: aqua;
}
.box1{
grid-column: 1;
grid-row: 1/4;
background-color: white;
  
}
.box2{
    grid-column: 2;
    grid-row: 1/3;
    background-color: purple;
}
.box3{
    grid-column: 2/2;
    grid-row: 2;
    background-color: green;
}